:root{
  --marquee-layer:4;
  }

  .marquee {
    z-index: var(--marquee-layer);
    background-color: black;
    bottom: 0;
    position: absolute;
  }

  .text-marquee {
    font-family: sans-serif;
    color: white;
  }
/* body {background-color: red;} */

  #header-final{
font-family: baskerville-urw;
font-style: italic;
font-weight: 400;
color: black;
font-size: 7vw;
display: inline-flex;
cursor: pointer;
margin: 0;
position: relative;
transform: translate(0, 150%);
z-index: 3;


}

#div-header-final{
  width:100%;
  height:100%;
  margin: 0;
  /* display: flex;
  align-items: center; */
  text-align: center;
  position: absolute;


}

#div-trivia{
  width:50%;
  height:30%;
  border: solid 1px black;
  position: relative;
top: 10%;
margin-top: 4vw;
  padding: 1vw;
right: 4vw;
display: flex;
align-items: center;
float: right;

}
#title-trivia{
  font-family: neue-haas-grotesk-display;
  font-size: 2vw;
  font-weight: 400;
  left: 4vw;
  top:4vw;
  margin:0;
  text-align: right;
  position: absolute;
}

#randomTrivia{
  font-family: neue-haas-grotesk-display;
  font-size: 1.5vw;
  font-weight: 400;
}

#div-info{
  width:20%;
  /* border: solid 1px black; */
  position: absolute;
left: 76vw;
vertical-align: bottom;

bottom: 10%;

}
#info{
  font-family: neue-haas-grotesk-display;
  font-size: 0.8vw;
  font-weight: 400;
margin-bottom: 0%;
position:relative;
}

#dente{
  width: 35%;
  height: auto;
  left:0vw;
  bottom: 10%;
  position: absolute;
  z-index: 2;
}
#div-aiapl{
  width: 100%;
  text-align:center;
position: absolute;
bottom: 10%;
}
#aiapl{

  width: 20%;
  height: auto;
  position: relative;

}
